<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.department.mapper.DentalDepartmentMapper">
    
    <resultMap type="DentalDepartment" id="DentalDepartmentResult">
        <result property="studentId"    column="student_ID"    />
        <result property="diagnosisTime"    column="diagnosis_time"    />
        <result property="dentalCaries"    column="dental_caries"    />
        <result property="missingTeeth"    column="missing_teeth"    />
        <result property="alveolar"    column="alveolar"    />
        <result property="other"    column="other"    />
        <result property="doctorOpinion"    column="doctor_opinion"    />
        <result property="doctorId"    column="doctor_ID"    />
        <result property="doctorAudit"    column="doctor_audit"    />
        <result property="leaderAudit"    column="leader_audit"    />
        <result property="submitTime"    column="submit_time"    />
    </resultMap>

    <sql id="selectDentalDepartmentVo">
        select student_ID, diagnosis_time, dental_caries, missing_teeth, alveolar, other, doctor_opinion, doctor_ID, doctor_audit, leader_audit, submit_time from dental_department
    </sql>

    <select id="selectDentalDepartmentList" parameterType="DentalDepartment" resultMap="DentalDepartmentResult">
        <include refid="selectDentalDepartmentVo"/>
        <where>  
            <if test="studentId != null  and studentId != ''"> and student_ID = #{studentId}</if>
            <if test="doctorAudit != null  and doctorAudit != ''"> and doctor_audit = #{doctorAudit}</if>
            <if test="leaderAudit != null  and leaderAudit != ''"> and leader_audit = #{leaderAudit}</if>
            <if test="submitTime != null "> and submit_time = #{submitTime}</if>
        </where>
    </select>
    
    <select id="selectDentalDepartmentById" parameterType="String" resultMap="DentalDepartmentResult">
        <include refid="selectDentalDepartmentVo"/>
        where student_ID = #{studentId}
    </select>
        
    <insert id="insertDentalDepartment" parameterType="DentalDepartment">
        insert into dental_department
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null and studentId != ''">student_ID,</if>
            <if test="diagnosisTime != null">diagnosis_time,</if>
            <if test="dentalCaries != null">dental_caries,</if>
            <if test="missingTeeth != null">missing_teeth,</if>
            <if test="alveolar != null">alveolar,</if>
            <if test="other != null">other,</if>
            <if test="doctorOpinion != null">doctor_opinion,</if>
            <if test="doctorId != null">doctor_ID,</if>
            <if test="doctorAudit != null">doctor_audit,</if>
            <if test="leaderAudit != null">leader_audit,</if>
            <if test="submitTime != null">submit_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId != null and studentId != ''">#{studentId},</if>
            <if test="diagnosisTime != null">#{diagnosisTime},</if>
            <if test="dentalCaries != null">#{dentalCaries},</if>
            <if test="missingTeeth != null">#{missingTeeth},</if>
            <if test="alveolar != null">#{alveolar},</if>
            <if test="other != null">#{other},</if>
            <if test="doctorOpinion != null">#{doctorOpinion},</if>
            <if test="doctorId != null">#{doctorId},</if>
            <if test="doctorAudit != null">#{doctorAudit},</if>
            <if test="leaderAudit != null">#{leaderAudit},</if>
            <if test="submitTime != null">#{submitTime},</if>
         </trim>
    </insert>

    <update id="updateDentalDepartment" parameterType="DentalDepartment">
        update dental_department
        <trim prefix="SET" suffixOverrides=",">
            <if test="diagnosisTime != null">diagnosis_time = #{diagnosisTime},</if>
            <if test="dentalCaries != null">dental_caries = #{dentalCaries},</if>
            <if test="missingTeeth != null">missing_teeth = #{missingTeeth},</if>
            <if test="alveolar != null">alveolar = #{alveolar},</if>
            <if test="other != null">other = #{other},</if>
            <if test="doctorOpinion != null">doctor_opinion = #{doctorOpinion},</if>
            <if test="doctorId != null">doctor_ID = #{doctorId},</if>
            <if test="doctorAudit != null">doctor_audit = #{doctorAudit},</if>
            <if test="leaderAudit != null">leader_audit = #{leaderAudit},</if>
            <if test="submitTime != null">submit_time = #{submitTime},</if>
        </trim>
        where student_ID = #{studentId}
    </update>

    <delete id="deleteDentalDepartmentById" parameterType="String">
        delete from dental_department where student_ID = #{studentId}
    </delete>

    <delete id="deleteDentalDepartmentByIds" parameterType="String">
        delete from dental_department where student_ID in 
        <foreach item="studentId" collection="array" open="(" separator="," close=")">
            #{studentId}
        </foreach>
    </delete>

    <update id="updateDentalDepartmentLeaderAudit" parameterType="DentalDepartment">
        update dental_department
        <trim prefix="SET" suffixOverrides=",">
            <if test="leaderAudit != null">leader_audit = #{leaderAudit},</if>
        </trim>
        where student_ID = #{studentId} and diagnosis_time = #{diagnosisTime}
    </update>

    <update id="updateDentalDepartmentDoctorAudit" parameterType="DentalDepartment">
        update dental_department
        <trim prefix="SET" suffixOverrides=",">
            <if test="doctorAudit != null">doctor_audit = #{doctorAudit},</if>
        </trim>
        where student_ID = #{studentId} and diagnosis_time = #{diagnosisTime}
    </update>
</mapper>