<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.department.mapper.DepartmentOfBloodPressureAndPulseMapper">
    
    <resultMap type="DepartmentOfBloodPressureAndPulse" id="DepartmentOfBloodPressureAndPulseResult">
        <result property="studentId"    column="student_ID"    />
        <result property="diagnosisTime"    column="diagnosis_time"    />
        <result property="bloodPressureHigh"    column="blood_pressure_high"    />
        <result property="bloodPressureLow"    column="blood_pressure_low"    />
        <result property="pulse"    column="pulse"    />
        <result property="doctorOpinion"    column="doctor_opinion"    />
        <result property="doctorId"    column="doctor_ID"    />
        <result property="doctorAudit"    column="doctor_audit"    />
        <result property="leaderAudit"    column="leader_audit"    />
        <result property="submitTime"    column="submit_time"    />
    </resultMap>

    <sql id="selectDepartmentOfBloodPressureAndPulseVo">
        select student_ID, diagnosis_time, blood_pressure_high, blood_pressure_low, pulse, doctor_opinion, doctor_ID, doctor_audit, leader_audit, submit_time from department_of_blood_pressure_and_pulse
    </sql>

    <select id="selectDepartmentOfBloodPressureAndPulseList" parameterType="DepartmentOfBloodPressureAndPulse" resultMap="DepartmentOfBloodPressureAndPulseResult">
        <include refid="selectDepartmentOfBloodPressureAndPulseVo"/>
        <where>  
            <if test="studentId != null  and studentId != ''"> and student_ID = #{studentId}</if>
            <if test="doctorAudit != null  and doctorAudit != ''"> and doctor_audit = #{doctorAudit}</if>
            <if test="leaderAudit != null  and leaderAudit != ''"> and leader_audit = #{leaderAudit}</if>
            <if test="submitTime != null "> and submit_time = #{submitTime}</if>
        </where>
    </select>
    
    <select id="selectDepartmentOfBloodPressureAndPulseById" parameterType="String" resultMap="DepartmentOfBloodPressureAndPulseResult">
        <include refid="selectDepartmentOfBloodPressureAndPulseVo"/>
        where student_ID = #{studentId}
    </select>
        
    <insert id="insertDepartmentOfBloodPressureAndPulse" parameterType="DepartmentOfBloodPressureAndPulse">
        insert into department_of_blood_pressure_and_pulse
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null and studentId != ''">student_ID,</if>
            <if test="diagnosisTime != null">diagnosis_time,</if>
            <if test="bloodPressureHigh != null">blood_pressure_high,</if>
            <if test="bloodPressureLow != null">blood_pressure_low,</if>
            <if test="pulse != null">pulse,</if>
            <if test="doctorOpinion != null">doctor_opinion,</if>
            <if test="doctorId != null">doctor_ID,</if>
            <if test="doctorAudit != null">doctor_audit,</if>
            <if test="leaderAudit != null">leader_audit,</if>
            <if test="submitTime != null">submit_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId != null and studentId != ''">#{studentId},</if>
            <if test="diagnosisTime != null">#{diagnosisTime},</if>
            <if test="bloodPressureHigh != null">#{bloodPressureHigh},</if>
            <if test="bloodPressureLow != null">#{bloodPressureLow},</if>
            <if test="pulse != null">#{pulse},</if>
            <if test="doctorOpinion != null">#{doctorOpinion},</if>
            <if test="doctorId != null">#{doctorId},</if>
            <if test="doctorAudit != null">#{doctorAudit},</if>
            <if test="leaderAudit != null">#{leaderAudit},</if>
            <if test="submitTime != null">#{submitTime},</if>
         </trim>
    </insert>

    <update id="updateDepartmentOfBloodPressureAndPulse" parameterType="DepartmentOfBloodPressureAndPulse">
        update department_of_blood_pressure_and_pulse
        <trim prefix="SET" suffixOverrides=",">
            <if test="diagnosisTime != null">diagnosis_time = #{diagnosisTime},</if>
            <if test="bloodPressureHigh != null">blood_pressure_high = #{bloodPressureHigh},</if>
            <if test="bloodPressureLow != null">blood_pressure_low = #{bloodPressureLow},</if>
            <if test="pulse != null">pulse = #{pulse},</if>
            <if test="doctorOpinion != null">doctor_opinion = #{doctorOpinion},</if>
            <if test="doctorId != null">doctor_ID = #{doctorId},</if>
            <if test="doctorAudit != null">doctor_audit = #{doctorAudit},</if>
            <if test="leaderAudit != null">leader_audit = #{leaderAudit},</if>
            <if test="submitTime != null">submit_time = #{submitTime},</if>
        </trim>
        where student_ID = #{studentId}
    </update>

    <delete id="deleteDepartmentOfBloodPressureAndPulseById" parameterType="String">
        delete from department_of_blood_pressure_and_pulse where student_ID = #{studentId}
    </delete>

    <delete id="deleteDepartmentOfBloodPressureAndPulseByIds" parameterType="String">
        delete from department_of_blood_pressure_and_pulse where student_ID in 
        <foreach item="studentId" collection="array" open="(" separator="," close=")">
            #{studentId}
        </foreach>
    </delete>

    <update id="updateDepartmentOfBloodPressureAndPulseLeaderAudit" parameterType="DepartmentOfBloodPressureAndPulse">
        update department_of_blood_pressure_and_pulse
        <trim prefix="SET" suffixOverrides=",">
            <if test="leaderAudit != null">leader_audit = #{leaderAudit},</if>
        </trim>
        where student_ID = #{studentId} and diagnosis_time = #{diagnosisTime}
    </update>

    <update id="updateDepartmentOfBloodPressureAndPulseDoctorAudit" parameterType="DepartmentOfBloodPressureAndPulse">
        update department_of_blood_pressure_and_pulse
        <trim prefix="SET" suffixOverrides=",">
            <if test="doctorAudit != null">doctor_audit = #{doctorAudit},</if>
        </trim>
        where student_ID = #{studentId} and diagnosis_time = #{diagnosisTime}
    </update>
</mapper>